body{
	background: linear-gradient(to right, #003366 0%, #ff9966 177%);
	margin: 0;
	font-family: arial;
	letter-spacing: .45px;
}

header{
	text-align: center;
	color: #eee;
	padding: 2rem;
	position: relative;
}

.main{
	color:#eee;
}

.main__header{
	margin-top: -28px;
	margin-bottom: 100px;
	text-align: center;
	font-weight: 300;
	font-size: 2rem;
}

.login-section{
    position:absolute;
	top:45%;
	left:50%;
	transform:translate(-50%,-50%);
	width: 390px;
	height:455px;
	padding:80px 40px;
	box-sizing:border-box;
	background: rgba(0,0,0,.5);
	border-radius:.75%;
}
.clearFix::after {
    content: "";
    clear: both;
    display: table;
}

#username{
	font-weight: 300;
	font-size: 1.3rem;
}

input[type=text]{
	position: absolute;
	top:180px;
	left: 146px;
	padding: 10px;
	width: 45%;
}

input[type=text]:focus {
    background-color: #eee;
}



#password{
	margin-top: 56px;
	font-weight: 300;
	font-size: 1.3rem;
}


input[type=password]{
	position: absolute;
	top:263px;
	left: 145px;
	padding: 10px;
	width: 45%;
}

::placeholder{
	font-size: .89rem;
	letter-spacing: 1.5px;
}

.submit{
	position: absolute;
	background-color: #4CAF50; /* Green */
    border-radius: 4px;
    border-width: 0;
    background-color:rgba(0,0,0,.5);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    top: 340px;
    transform:translateX(135px);
    cursor: pointer;
    transition:background-color 1s transform .3s;
}

button:hover{
	background-color:#01FF70;
}

